Задача 44: В ячейке ниже представлен код генерирующий DataFrame, которая состоит всего
из 1 столбца. Ваша задача перевести его в one hot вид. Сможете ли вы это сделать без
get_dummies?

In [8]:
import random
import pandas as pd
import numpy as np

In [11]:
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI':lst})
data['human'] = np.where(data['whoAmI'] == 'human', '1','0')
data['robot'] = np.where(data['whoAmI'] == 'robot', '1','0')
data.head()

  whoAmI human robot
0  robot     0     1
1  human     1     0
2  robot     0     1
3  human     1     0
4  human     1     0